body {
  background-color: #faf5e4;
}
h1 {
  font-family: Marker Felt;
  font-size: 70px;
  text-align: center;
  color: #004445;
  margin: 30px 0px 10px 0px;
}
h4 {
  font-family: Futura;
  text-align: center;
  font-weight: normal;
  padding: 10px 0px;
}
h2,
h3,
footer {
  font-family: Futura;
  text-align: center;
}
p {
  font-family: Futura;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
}
p a {
  text-decoration: none;
  color: #2c786c;
}
ul {
  list-style: none;
}
button {
  display: block;
  margin: 0 auto;
  font-family: monospace;
  font-size: 19px;
  cursor: pointer;
  padding: 18px 16px;
  border-radius: 5px;
  border: 4px solid #2c786c;
  background: #2c786c;
  color: #faf5e4;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
button:hover {
  background: #faf5e4;
  color: #2c786c;
  transition: all 300ms ease;
  border: 4px solid #93b5d0;
}
hr {
  border: 1px solid #2c786c;
  border-radius: 5px;
}
footer a {
  text-decoration: none;
  color: #49c4d4;
}
.benefitsTitle {
  padding: 8px 0px;
}
.healthEmojis {
  font-size: 25px;
}
.gridFourColumns {
  /*display: flex;
        flex-wrap: nowrap;*/

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  justify-items: center;
  padding: 0px 0px;
  margin: 5px 30px 15px 30px;
}
.healthBenefits {
  background: linear-gradient(
    176deg,
    rgb(248, 180, 0) 40%,
    rgb(255, 111, 60) 100%
  );
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.gridAdvice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 35px;
  justify-items: center;
  padding: 0px 0px;
  margin: 15px 30px 5px 30px;
}
.hikingSuggestions {
  color: #2c786c;
  font-family: Futura;
}
.suggestionTitle {
  color: black;
}
.suggestionText {
  font-family: monospace;
  font-size: 16px;
}
.suggestionText li {
  padding: 2px 0px 1px 0px;
}
.gridLocations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  padding: 20px 0px;
  margin: 15px 0px 30px 0px;
  max-width: 100%;
}
.locationName {
  color: #004445;
}
.gridLocations ul {
  padding: 0px 30px 0px 30px;
}
.gridLocations li {
  padding: 2px 0px 1px 0px;
}
.hikingLocations {
  font-family: Futura;
  border: 5px solid #f8b400;
  border-radius: 5px;
  padding: 0px 8px 0px 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.gridLocations img {
  border-radius: 5px;
  border: 5px solid #f8b400;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}

.gridInstagram {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  justify-items: center;
  font-family: Futura;
  padding: 0px 0px;
  margin: 10px 30px 20px 30px;
}
.instagramTitle {
  margin-top: -20px;
}
.instagramAccounts {
  position: relative;
  text-align: center;
}
.instagramAccounts img {
  border-radius: 50%;
  border: 3px solid #fb9227;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.28);
}
.instagramAccounts a {
  text-decoration: none;
  color: white;
}
.instagramAccounts__img {
  display: block;
  width: 100%;
}
.instagramAccounts__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 3px solid rgb(255, 111, 60);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}
.instagramAccounts__overlay:hover {
  opacity: 1;
  transition: all 300ms ease;
}
.endingMessage h1 {
  font-size: 35px;
  margin: 0px;
}
